
a,
body,
div,
footer,
h1,
h2,
h3,
h4,
header,
html,
img,
li,
nav,
p,
span,
ul,
input,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

input,
select,
textarea,
button {
  -webkit-appearance: none;
  outline: none;
  background: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a,
div,
footer,
h1,
h2,
header,
img,
li,
nav,
p,
span,
ul {
  font-family: inherit;
  color: black !important;
}

li,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
img,
picture,
svg,
video,
input {
  display: block;
}